div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 40px;
	height: 40px;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

body {
	text-align: center;
	font-family: fantasy;

}

.incorrect {
	background-color: pink;
}

.value_provided {
	background-color: #DDD
}